*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  background-color:#052f22;
  background-image: url('../img/pattern-bg.png');
}
.container{
  max-width: 1140px;
  padding: 0px 15px;
  margin: 0 auto;
}
.notification-bar{
  position: sticky;
  
  
  background:#ffffff url('../img/pattern-bg.png');
  background-repeat: no-repeat;
  padding: 13px 0px;
  
  
}

.icon{
  
  color:#f9f9f9;
  background-color: #217f40;
  width:24px;
  height: 24px;
  border-radius: 12px;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;;
}

.notification-bar a{
  color: #08512d;
  text-decoration-line: underline;
  margin-left:3px;
}
.notification-bar a:hover{
  color: #08512d;
  text-decoration-line: none;
}


.notification-bar p{
  padding-top: 2px;
  
  font-family: roboto;
  font-weight: 500;
  line-height: 22px;
  color:#222222;
  font-size: 14px;  
  
}
.notification-bar .container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  position: relative;

}
.top-nav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-nav{
  
  padding: 10px 0px;
  

  
  
}
.top-nav img{
  position: relative;
 height: 100%;
}
.header-button{
  position: relative;
  

}

.header-button a{
  position: relative;
  padding: 11px 44px;
  display: inline-block;
  background-color: #08512d;
  border:none;
  transform: skew(-20deg);
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
   font-weight: 600;
  font-family: "Oswald";
  text-decoration: none;
 
}
.header-button a:hover{

background-color: #0e8349;
color: #ffffff;
  
 
}


 .header-button .btn{
  position: relative;
  padding: 11px 30px;
   background-color: #217f40;
   margin: 0px 9px;

 }
 .header-button .btn:hover{
   cursor: pointer;
 }

 .header-button span{
   display: block;
   transform: skew(20deg);
 }




 .main-menu{
   position: relative;
   width:100%;
   padding: 0px;
   background-color:#246344b5;
  
   
 }
 .main-menu .container{
  
  
   display: flex;
   align-items: center;
   justify-content: space-between;
   
 }
 
 .menu-items ul{
   position: relative;
  
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-beetween;
   list-style: none;
   
 }
 .menu-items ul li{
  
padding: 19px 30px;
transform: skew(-20deg);
 }
 .menu-items ul li a{
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Oswald";
  transition: background-color 2s ease-in-out;
  transition-delay: 1s;
  
 }
 .menu-items ul li:hover{
   background-color:#2b9b4e;
   cursor: pointer;
   transition: ease-in-out;
   
 }
 .menu-items ul li a:hover{
color: #ffffff;

 }
 .menu-items span{
   display: inline-block;
   transform: skew(20deg);
 }
 .search{
   display: flex;
   justify-content: center;
   align-items: center;
background: #012c1f url(../img/pattern-bg.png);
   width: 255px;
   height:40px;
 }
 .search input{
   position: relative;
  color: #ffffff;
   background-color: transparent;
   
   height: 100%;
   width:82%;
   border: none;
   outline: none;
   
 }
 .search input::placeholder{
   padding:2px 0px 2px 0px;
  font-size: 16px;
  line-height: 18px;
  color: #fffefeb4;
  
  font-weight: 600;
  font-family: "Oswald";
 }
 .search img{
   position: relative;
  
 }
 .search button{
   background: transparent;
   border: none;
   cursor: pointer;
 }
 .active{
   background-color: #268143;
  
   
 }
 .active:hover{
  background-color: #13bb48;
  transition: 0.2s;
 
  
}
.title{
  background-color: #0e8349;
  display: flex;
  /* padding: 23px 30px; */
  justify-content: center;
  height: 100px;
  overflow: hidden;

}
.title .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
}
.tile-homepage h1{
  font-size: 50px;
line-height: 54px;
color: #ffffff;
font-weight: 500;
font-family: "Oswald";
}

.reebok{
  background-color: #ffff;
  padding: 26px 70px;
  position: relative;
  left: 409px;
  width: 745px;
  transform: skew(-16deg);
}

.reebok-content p{
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
  color: #217f40;
  font-weight: 600;
  font-family: "Oswald";
}
.reebok-content{
  padding-left: 41px;
  transform: skew(13deg);
 
}
.reebok-content img{
  width: 197px;
    margin-left: -49px
}
.hero-section{
  height: 549px;
  width: 100%;
  background:linear-gradient(to right, #042e21b3 , #112d218c),
   url('../img/hero-bg.png');
   background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section .container{
  display: flex;
align-items: center;
justify-content: center;
width:1008px;
height:100%;
}


.hero-content{
  float:left;
  width:50%;
  margin-top: 49px;
}

.hero-content h1{

  font-size: 50px;
  line-height: 50px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Oswald";
}


.image-box{
  float: right;
 margin-right: 25px;
}


.hero-content p{
  
  padding-top: 34px;
  
font-size: 18px;
letter-spacing: 0px;
line-height: 26px;
color: #ffffff;
font-weight: 400;
font-family: "Roboto";
}
.image-box a{

  position: absolute;
    top: 41%;
    transform: translateX(140px);
    
  background-color: #134435bd;
    border-radius: 50px;
    height: 90px;
    width: 90px;
    cursor: pointer;
}

.image-box img:last-child{

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 32%;
}
.slider{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  height: 100%;
  width:100%;
}
.hero-section .slick-prev:before {
  content: url(../img/hero-slider-leftt-arrow.png);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 419%;
}


.hero-section .slick-next:before {
  content: url(../img/hero-slider-right-arrow.png);
  position: absolute;
  
  top: 50%;
  transform: translateY(-94%);
  
  left: 420%;
}
.main-body{
  padding: 80px 0px;
}
.main-content{
  position: relative;
  width:830px;
}
.slider-image{
  position: relative;
  
  
}
.main-content .slick-next:before {
  content: url(../img/hero-slider-right-arrow.png);
  position: absolute;
bottom: -10%;
  transform: translateX(-31px);

}
.main-content .slick-prev:before {
  content: url(../img/hero-slider-leftt-arrow.png);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
}
 .main-content .slick-slide {
  display: block;
  margin: 0 14px;
  


}
.slider-image img{
  border:#08512d2d 10px solid;
  background-image:url(../img/pattern-bg.png);



}
 .slider-image .slick-dots{
  
  position: absolute;
  top:50%;
  transform: translateY(140%);
  
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-align: center;
  
}
.main-body .container{
  position: relative;
  display: flex;
  
  justify-content: space-between;

}
.sidebar{
  width: 255px;
height: 341px;
background-color: #1b7d3b;
  margin-left:30px;
}
.events{
  
  font-size: 20px;
  align-items: center;
  
  color: #ffffff;
  font-weight: 300;
  font-family: "Oswald";
  width: 255px;
height: 47px;
background-color: #08512d;

}


.event-number{

  
  color: #1b7d3b;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: white;
  }


.events-content{

  display: flex;
  align-items: center;
justify-content: space-evenly;
  font-size: 18px;
line-height: 24px;
color: #ffffff;
font-weight: 500;
font-family: "Oswald";
padding-top: 20px;
}
.event-number h3{
 padding: 10px;
}

.event-title{
  position: relative;
  width: 155px;
}
.event-title span{
  font-size: 16px;
line-height: 24px;
color: #ffffff;
font-weight: 300;
font-family: "Roboto";
  
}