*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body{
  background-color:#052f22;
  background-image: url('../img/pattern-bg.png');
}
.container{
  max-width: 1140px;
  padding: 0px 15px;
  margin: 0 auto;
}
.notification-bar{
  position: sticky;
  
  
  background:#ffffff url('../img/pattern-bg.png');
  background-repeat: no-repeat;
  padding: 14px 0px;
  
  
}

.icon{
  
  color:#f9f9f9;
  background-color: #217f40;
  width:24px;
  height: 24px;
  border-radius: 12px;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  right: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;;
}

.notification-bar a{
  color: #08512d;
  text-decoration-line: underline;
  text-underline-position: under;
  margin-left:3px;
}
.notification-bar a:hover{
  color: #08512d;
  text-decoration-line: none;
}


.notification-bar p{
  
  
  font-family: roboto;
  font-weight: 500;
  line-height: 23px;
  color:#222222;
  font-size: 14px;  
  
}
.notification-bar .container{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  position: relative;

}
.top-nav .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-nav{
  
  padding: 10px 0px;
  
}
.top-nav img{
  position: relative;
 height: 100%;
}
.header-button{
  position: relative;
  

}

.header-button a{
  position: relative;
  padding: 11px 44px;
  display: inline-block;
  background-color: #08512d;
  border:none;
  transform: skew(-15deg);
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
   font-weight: 600;
  font-family: "Oswald";
  text-decoration: none;
  transition: 1s ease-in-out;
 
}
.header-button a:hover{

background-color: #0e8349;
color: #ffffff;
transition: 0.5s ease-in-out;
  
 
}


 .header-button .btn{
  position: relative;
  padding: 11px 30px;
   background-color: #217f40;
   margin: 0px 10px;

 }
 .header-button .btn:hover{
   cursor: pointer;
 }

 .header-button span{
   display: block;
   transform: skew(20deg);
 }




 .main-menu{
   position: relative;
   width:100%;
   padding: 0px;
   background-color:#246344b5;
  
   
 }
 .main-menu .container{
  
  
   display: flex;
   align-items: center;
   justify-content: space-between;
   
 }
 
 .menu-items ul{
   position: relative;
  
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-beetween;
   list-style: none;
   
 }
 .menu-items ul li{
  
padding: 19px 30px;
transform: skew(-20deg);
 }
 .menu-items ul li a{
  font-size: 18px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Oswald";
  transition: background-color 2s ease-in-out;
  transition-delay: 1s;
  
 }
 .menu-items ul li:hover{
   background-color:#2b9b4e;
   cursor: pointer;
   transition: 0.5s ease-in-out;
   
 }
 .menu-items ul li a:hover{
color: #ffffff;

 }
 .menu-items span{
   display: inline-block;
   transform: skew(20deg);
 }
 .search{
   display: flex;
   justify-content: center;
   align-items: center;
background: #012c1f url(../img/pattern-bg.png);
   width: 255px;
   height:40px;
 }
 .search input{
   position: relative;
  color: #ffffff;
   background-color: transparent;
   
   height: 100%;
   width:82%;
   border: none;
   outline: none;
   
 }
 .search input::placeholder{
   padding:2px 0px 2px 0px;
  font-size: 16px;
  line-height: 18px;
  color: #fffefeb4;
  
  font-weight: 600;
  font-family: "Oswald";
 }
 .search img{
   position: relative;
  
 }
 .search button{
   background: transparent;
   border: none;
   cursor: pointer;
 }
 .active{
   background-color: #268143;
  
   
 }
 .active:hover{
  background-color: #13bb48;
  transition: 0.2s;
 
  
}
.title{
  background: #248042 url(../img/pattern-bg.png);
  display: flex;
  /* padding: 23px 30px; */
  justify-content: center;
  height: 100px;
  overflow: hidden;

}
.title .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  
}
.tile-homepage h1{
  font-size: 50px;

color: #ffffff;
font-weight: 500;
font-family: "Oswald";
letter-spacing: -1px;
    margin-bottom: 4px;
}

.reebok{
  background-color: #ffff;
  padding: 26px 70px;
  position: relative;
  left: 409px;
  width: 745px;
  transform: skew(-16deg);
}

.reebok-content p{
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 18px;
  color: #217f40;
  font-weight: 600;
  font-family: "Oswald";
}
.reebok-content{
  padding-left: 41px;
  transform: skew(13deg);
 
}
.reebok-content img{
  width: 197px;
    margin-left: -49px
}
.hero-section{
  height: 549px;
  width: 100%;
  background:linear-gradient(to right, #042e21b3 , #112d218c),
   url('../img/hero-bg.png');
   background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-section .container{
  display: flex;
align-items: center;
justify-content: center;
width:1008px;
height:100%;
}


.hero-content{
  float:left;
  width:50%;
  margin-top: 49px;
}

.hero-content h1{

  font-size: 49px;
  line-height: 50px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Oswald";
}


.image-box{
  float: right;
 margin-right: 25px;
}


.hero-content p{
  
  padding-top: 33px;
  padding-right: 21px;
  word-spacing: 2px;
  
font-size: 18px;
letter-spacing: 0px;
line-height: 26px;
color: #ffffff;
font-weight: 400;
font-family: "Roboto";
}
.image-box a{

  position: absolute;
    top: 41%;
    transform: translateX(140px);
    
  background-color: #134435bd;
    border-radius: 50px;
    height: 90px;
    width: 90px;
    cursor: pointer;
}
.image-box a:hover{
  background-color: #217f40;
}
.image-box img:last-child{

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 32%;
}
.slider{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  height: 100%;
  width:100%;
}
.hero-section .slick-prev:before {
  content: url(../img/hero-slider-leftt-arrow.png);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 419%;
}


.hero-section .slick-next:before {
  content: url(../img/hero-slider-right-arrow.png);
  position: absolute;
  
  top: 50%;
  transform: translateY(-94%);
  
  left: 420%;
}
.main-body{
  padding: 80px 0px;
}
.main-content{
  position: relative;
  width:75%;
  margin-bottom:61px;
}

 .hero-section .slick-dots li button {
  font-size: 0px;
  line-height: 0;
  display: block;
  width: 25px;
  height: 0px;
  padding: 3px 9px;
  cursor: pointer;
  background: #ffffff8c;
  border: 0;
  outline: 0;
}
.hero-section .slick-dots{


  position: absolute;
  bottom: 37px;
  display: block;
  width: 100%;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-align: center;

}
.main-content .slick-dots li button {
  font-size: 0px;
  line-height: 0;
  display: block;
  width: 25px;
  height: 0px;
  padding: 3px 9px;
  margin-bottom: 20px;
  cursor: pointer;
  background: #ffffff8c;
  border: 0;
  outline: 0;
}
.main-content .slick-next:before {
  content: url(../img/hero-slider-right-arrow.png);
  position: absolute;
bottom: -10%;
right:60%;
 

}

.main-content .slick-prev:before {
  content: url(../img/hero-slider-leftt-arrow.png);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  
}
 .main-content .slick-slide {
  display: block;
  margin: 0px 25px;
  


}
.main-content .slick-track {
  position: relative;
  top: 0;
  left: 23px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slider-image img{
  border:#08512d2d 7px solid;
  background-image:url(../img/pattern-bg.png);
 
width: 159px;
height: 160px;

}


 .slider-image .slick-dots{
  
  position: absolute;
  top:50%;
  transform: translateY(270%);
  
  display: block;
  width: 100%;
  height: 35px;
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-align: center;
  
}
.main-body .container{
  position: relative;
  display: flex;
  
  justify-content: space-between;

}
.sidebar{
  width: 256px;
height: max-content;
background: #1b7d3b url(../img/pattern-bg.png);
  margin-left:25px;
}
.events{
  
  font-size: 18px;
  align-items: center;
  
  color: #ffffff;
  font-weight: 400;
  font-family: "Oswald";
  width:255px;
  
background: #08512d url(../img/pattern-bg.png);
padding: 8px 16px;

}
.events h3{
  font-weight: 400;
}


.event-number{

  color: #1b7d3b;
    
    text-align: center;
    background-color: white;
    padding: 11px 19px;
    
  }
  .event-number h3{
    
    font-family: "Montserrat";
   
    width: 8px;
    font-size: 22px;
    line-height: 24px;
    color: #1b7d3b;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
   
  }
  .sidebar-content{
    position: relative;
    padding: 18px 16px 20px;
    display: flex;
    flex-direction: column;
    
}


.events-content{

  display: flex;
  align-items: center;

  font-size: 18px;
line-height: 24px;
color: #ffffff;
font-weight: 500;
font-family: "Oswald";
margin:0px 0px 14px 0;


}


.event-title{
  position: relative;
  font-size: 18px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 500;
  font-family: "Oswald";
  margin-left: 10px;
  

  
  
}

.event-title h4{
  text-decoration:underline;
  text-underline-position:from-font;
  cursor: pointer;
}
.event-title p{
  font-size: 16px;
line-height: 27px;
color: #ffffff;
font-weight: 300;
font-family: "roboto";
  text-decoration: none;
  
}


.card-1{

display: grid;
grid-template-rows: auto 1fr auto;
grid-row-gap: 0px;
}

.card-1 img{
  width: -webkit-fill-available;
height: 162px;
}
.card-para{
 
font-size: 14px;
letter-spacing: 0px;
line-height: 18px;
color: #ffffff;
font-weight: 400;
font-family: "Roboto";


}
.card-heading{
  font-family: "Oswald";
font-size: small;
line-height: 24px;
color: #ffffff;



margin-bottom: 8px;

}
.card-heading h2{
  font-weight: 500;
  
}
.card-button{
 

background:#08512d url('../img/pattern-bg.png');
font-size: 20px;
line-height: 24px;

font-weight: 500;
font-family: "Oswald";
text-align: center;
padding: 13px 0px;
}
.card-button a{
  color: white;
  text-decoration: none;
}
.card-button a:hover{
  text-decoration: underline;
}
.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  grid-gap:29px;
  margin-bottom: 40px;

}
.card-body{
 
  background-color: #217f40;
  background-image: url(../img/pattern-bg.png);
  padding: 19px 12px;
  text-align: left;
}
hr{
  margin-top: 75px;
  margin-bottom: 40px;
}

.zigzag-section{
  position: relative;
  display: flex;
  align-items: center;

background: #1b7d3b url(../img/pattern-bg.png);
overflow: hidden;

}

.zigzag-img img{
  display: block;
  
}
.zigzag-description{
  padding: 35px 30px;
  padding-right: 50px;
 
  
}
.desc-title{
  font-size: 20px;
line-height: 24px;
color: #ffffff;
font-family: "Oswald";
background-color: transparent;
margin-bottom: 8px;


}
.zigzag-description h2{
  font-size: 20px;
  font-weight: 500;
 
}
.zigzag-description .description{
  
font-size: 14px;
line-height: 18px;
color: #ffffff;
font-weight: 400;
font-family: "Roboto";
padding-bottom: 7px;
padding-left: 5px;

}


.zigzag-container{
  position: relative;
}

.zigzag-img{
  width:60%;
  clip-path: polygon(0 0, 100% 0%, 87% 100%, 0% 100%);}






.zigzag-container .zigzag-section:nth-child(even){
flex-direction: row-reverse;


}
.zigzag-container .zigzag-section:nth-child(even) .zigzag-img{

  clip-path: polygon(0 0, 100% 0%, 100% 100%, 11% 100%);
}

.contact-us{
  background:#08512d url(../img/pattern-bg.png);
  padding: 40px 0px;
}
.contact-us .container{
  display: block;
  max-width: 605px;
  
}
.contact-us .container h2{
  font-size: 30px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Oswald";
    text-align: center;
  
}


.form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 16px;
    grid-column-gap: 0px;
  
    margin-top: 27px;
}
.input-fields{
 
  
  font-size: 16px;
line-height: 24px;
color: #ffffff;
font-weight: 500;
font-family: "Oswald";
padding: 0px 17px;

} 


.input-fields input[type="text"],input[type="email"],select{
  width: 100%;
  padding: 9px;
  margin-top: 3px;
}
.span-gender{
  grid-column-start: 1;
    grid-column-end: 3;
    width: 99%;
}


.input-fields input[type=radio]{

  
  height: 23px;

width: 23px;
margin-top: 7px;
background: #1b7d3b url(..//img/pattern-bg.png);


}




.span-gender label.gender-option{
  font-size: 14px;
line-height: 24px;
color: #ffffff;
font-weight: 400;
font-family: "Roboto";
vertical-align: super;
padding: 5px;
margin-top: 6px;
}
label.label-oswald{
  
  font-size: 16px;
line-height: 21px;
color: #ffffff;
font-weight: 500;
font-family: "Oswald";

}

.input-fields textarea{
  display: block;
  width: 101%;
  padding: 5px;
  margin-top: 3px;
  
}
.form-btn{
  grid-column-start: 1;
    grid-column-end: 3;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    
 
}
.form-btn input[type="submit"]{
  font-size: 14px;
line-height: 24px;
color: #ffffff;
font-weight: 500;
font-family: "Oswald";
text-align: center;
background-color: #012c1f;
padding: 6px 58px;
text-transform: uppercase;
border: none;
cursor: pointer;
}
.form-btn input[type="submit"]:hover{


background-color: #08512d;
transition: 0.5s;

}
.form textarea,select,input::placeholder{

  font-size: 14px;
line-height: 24px;
color: #7a7a7a;
font-weight: 400;
font-family: "Roboto";
}

.footer{
  position: relative;
  display: flex;
  padding: 25px 0px;
  flex-direction: column;
}
.footer-menu ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
.footer-menu ul li{
  position: relative;
  padding: 5px 15px;
  
}
.footer-menu ul li a{
  font-size: 16px;
line-height: 24px;
color: #ffffff;
font-weight: 500;
font-family: "Oswald";
text-align: center;
cursor: pointer;
}
.footer-menu ul li a:hover{
  text-decoration: underline;
}

.footer-menu ul li:not(:last-child)::after{
  position: absolute;
    content: "/";
    font-size: 21px;
    font-weight: 500;
    color: white;
    right: -3px;
}
.social-links
{
      text-align: center;
      padding: 10px;
}
.social-links img{
  padding: 0px 8px;
  cursor: pointer;
}
.social-links img:hover{
  color: white;
 opacity: 0.5;

}

.copyright{
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 300;
  font-family: "Montserrat";
  text-align: center;
word-spacing:2px;
}

select option:hover
{
  background-color: #13bb48 !important;
}